<ul>
    <li><a [routerLink]="'/home'">Home</a></li>
    <li><a [routerLink]="'/test'">Test</a></li>
    <li><a [routerLink]="'/people'">People</a></li>
    <!-- Dropdown gets covered up by the people page person store nav bar -->
    <!-- <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
            <a [routerLink]="'/home'">Home</a>
            <a [routerLink]="'/test'">Test</a>
            <a [routerLink]="'/people'">People</a>
        </div>
    </li> -->
</ul>
